.badge {
    font-size: 14px;
    line-height: 21px;
    border-radius: 2em;
    padding: 2px 7px;
    margin: 0 5px;
}

.red {
    background-color: rgb(215, 58, 74);
    color: #ffffff;
}

.blue {
    background-color: #0968da;
    color: #ffffff;
}