.button{
    border: none;
    box-shadow: none;
    background: none;
    font-size: 14;
    padding: 5px 10px;
    border-radius: 6px;
}

.button:hover{
    border: 1px solid #d0d7da;
}

.selected{
    background: #0969da;
    color: #ffffff;
}

/* .disabled{
    color: #8c959f;
    pointer-events: none;
} */

.blueButton{
    color: #0969da;
}

.blueButton:disabled{
    color: #8c959f;
    pointer-events: none;
}

.blueButton:disabled:hover{
    border: none;
}