li {
    list-style: none;
}

.tapList {
    display: flex;
}

.tap {
    display: flex;
    border: none;
    background: transparent;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
    margin-right: 10px;
}

.selected {
    border-bottom: 2px solid #fa4549;
    font-weight: 800;
}

.link {
    text-decoration: none;
}
