* {
  box-sizing: border-box;
}

.nav {
  padding: 16px 32px;
  background: #24292f;
  display: flex;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
  align-items: center;
}



.listContainer {
  padding: 0 32px;
  margin-top: 24px;
  height: 220px;
}

.footer {
  margin-top: 40px;
  padding: 40px 16px 8px;
  border-top: 1px solid #d0d7ed;
}