.listContainer {
    padding: 0 32px;
    margin-top: 24px;
    height: 220px;
}

.topSection {
    display: flex;
    flex-direction: 'space-between';
    margin-bottom: 20px;
}

.input {
    background: #f6f8fa;
    border-radius: 6px;
    border: 1px solid #d0d7de;
    padding-left: 10px;
    color: #57606a;
    width: 60%;
    margin-right: auto;
    box-shadow: none;
}

.filterLists {
    display: flex;
    align-items: center;
}

.filterLists>span {
    padding: 0 16px;
    line-height: 21px;
    cursor: pointer;
    color: #57606a;
}

.filterLists>span:hover {
    color: #000000;
}

.listFilter {
    margin-top: 20px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background: rgb(246, 248, 250);
    padding: 16px;
}

.textFilter {
    cursor: pointer;
    margin-right: 8px;
}

.selected {
    font-weight: 800;
}