.listContainer {
    padding: 0 32px;
    margin-top: 24px;
}

.topSection {
    display: flex;
    flex-direction: 'space-between';
    margin-bottom: 20px;
}

.input {
    background: #f6f8fa;
    border-radius: 6px;
    border: 1px solid #d0d7de;
    padding-left: 10px;
    color: #57606a;
    width: 60%;
    margin-right: auto;
    box-shadow: none;
}

.listFilter {
    margin-top: 20px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background: rgb(246, 248, 250);
    padding: 16px;
}

.paginationContainer{
    display: flex;
    justify-content: center;
}

.button{
    font-size: 14px;
    background-color: rgb(39, 224, 144);
    color: white;
}